numpy
scikit-image
torchvision
torchaudio
torch
cmake
ffmpeg
svgwrite
svgpathtools
cssutils
numba
torch-tools
scikit-fmm
easydict
visdom
freetype-py
opencv-python==4.5.4.60
kornia
wandb
shapely

diffusers==0.8
transformers
scipy
ftfy
accelerate

flask